RewriteEngine On
RewriteBase /this_sites_subdirectory/
RewriteRule ^/?$ /1 [L]

Options -MultiViews                

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php 